@model EShop.ViewModels.CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    var cart = ViewBag.Cart as IEnumerable<EShop.ViewModels.CartViewModel>;
}

<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Checkout</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Cart">Cart</a></li>
        <li class="breadcrumb-item active text-white">Checkout</li>
    </ol>
</div>

<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form asp-action="Checkout" asp-controller="Cart" method="post">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="form-check my-3">
                        @Html.CheckBoxFor(m => m.CheckCustomer, new { @class = "form-check-input", id = "CheckCustomer" })
                        <label class="form-check-label" for="CheckCustomer">Take Account Information?</label>
                    </div>

                    <div class="form-item delivery-info">
                        <label asp-for="Fullname" class="form-label my-3">Fullname<sup>*</sup></label>
                        @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control", id = "Fullname" })
                        @Html.ValidationMessageFor(m => m.Fullname, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-item delivery-info">
                        <label asp-for="Address" class="form-label my-3">Address<sup>*</sup></label>
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", id = "Address" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-item delivery-info">
                        <label asp-for="PhoneNumber" class="form-label my-3">Phone Number<sup>*</sup></label>
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", id = "PhoneNumber" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-item mt-3">
                        <label asp-for="Note" class="form-label my-3">Note</label>
                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control", id = "Note", rows = 6, placeholder = "Note" })
                        @Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn border-secondary text-uppercase text-primary w-100 mt-2">Place Order</button>
                </div>

                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (cart != null)
                                {
                                    foreach (var item in cart)
                                    {
                                        <tr>
                                            <th scope="row">
                                                <div class="d-flex align-items-center mt-2">
                                                    <img src="~/images/products/@item.ProductImage" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="@item.ProductName">
                                                </div>
                                            </th>
                                            <td class="py-5">@item.ProductName</td>
                                            <td class="py-5">$@item.ProductPrice</td>
                                            <td class="py-5">@item.ProductQuantity</td>
                                            <td class="py-5">@item.ProductTotalPrice</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="3"></td>
                                        <td class="py-5"><p class="mb-0 text-dark py-3">Subtotal</p></td>
                                        <td class="py-5">
                                            <div class="py-3 border-bottom border-top">
                                                <p class="mb-0 text-dark">
                                                    $@(cart.Sum(p => p.ProductTotalPrice).ToString("#,##0.00"))
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#CheckCustomer').change(function () {
                if ($(this).is(":checked")) {
                    $(".delivery-info").addClass("d-none");
                } else {
                    $(".delivery-info").removeClass("d-none");
                }
            });
        });
    </script>
}